// Base

body,
html {
	width: 100%;
	min-height:100%;
	font-family: $font-circular-light;
	color:$dark-grey;
}

p{

}

img{
	max-width: 100%;
}

cite{

}
ul{

}
li{

}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	color:$black;
}

.sg-grid{
	background-color: #666;
	text-align: center;
	margin-bottom: 30px;
	padding: 10px 0
}


.lead{
	font-size: 1rem;
	@include media-breakpoint-up(md) {
		font-size: 1.125rem;
	}
}

.dashboard .main,
.single-event .main,
.schedule .main {
	padding-top: 75px;
	padding-bottom: 100px;
	@include media-breakpoint-up (md) {
		padding-top: 98px;
	}
}


//#38fff0, #ffd266
.gradient-silverlake{
	background: -webkit-linear-gradient(120deg, $babu-70, $babu-70 23%, $beach-80) top center no-repeat scroll;
	background: -moz-linear-gradient(120deg, $babu-70, $babu-70 23%, $beach-80) top center no-repeat scroll;
	background: linear-gradient(120deg, $babu-70, $babu-70 23%, $beach-80) top center no-repeat scroll;
   background-size: cover;
}
.gradient-sunset-boulevard{
	background: -webkit-linear-gradient(120deg, $beach-60, $rausch) top center no-repeat scroll;
	background: -moz-linear-gradient(120deg, $beach-60, $rausch) top center no-repeat scroll;
	background: linear-gradient(120deg, $beach-60, $rausch) top center no-repeat scroll;
   background-size: cover;
}
.gradient-santa-monica{
	background: -webkit-linear-gradient(120deg, $rausch-80, $hackberry) top center no-repeat scroll;
	background: -moz-linear-gradient(120deg, $rausch-80, $hackberry) top center no-repeat scroll;
	background: linear-gradient(120deg, $rausch-80, $hackberry) top center no-repeat scroll;
   background-size: cover;
}
.gradient-downtown-lights{
	background: -webkit-linear-gradient(120deg, $hackberry, $kazan-70) top center no-repeat scroll;
	background: -moz-linear-gradient(120deg, $hackberry, $kazan-70) top center no-repeat scroll;
	background: linear-gradient(120deg, $hackberry, $kazan-70) top center no-repeat scroll;
   background-size: cover;
}