.btn-large {
    padding: 9px 27px;
    font-size: 16px;
}

.btn {
    border-color: #c4c4c4;
    background: white;
    color: #484848;
}
.btn-primary {
    border-color: $beach;
    background-color: $beach;
    color: #fff;
}
.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}
.btn:hover, .btn:focus {
    text-decoration: none;
    border-color: #aaa;
    color: #484848;
}
.btn-primary:hover, .btn-primary:focus {
    border-color: lighten($beach,10%);
    background-color: lighten($beach,10%);
    color: #fff;
}
.signup-login-form__btn-xl {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    font-weight: normal;
}
#user-login-btn {
    padding: 20px 0;
}
