.btn {
    border-color: #c4c4c4;
    background: white;
    color: #484848;
}
.btn-primary {
    border-color: $kazan;
    background-color: $kazan;
    color: #fff;
}
.btn:hover, .btn:focus {
    text-decoration: none;
    border-color: #aaa;
    color: #484848;
}
.btn-primary:hover, .btn-primary:focus {
    border-color: lighten($kazan,10%);
    background-color: lighten($kazan,10%);
    color: #fff;
}