//Forms

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

input, textarea, .input-prefix, .input-suffix {
    font-family: $font-circular;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, input[type="radio"], input[type="checkbox"] {
    -webkit-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

.decorative-input {
    border:none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-size: 18px;
    padding: 20px 0px 10px 0px;
    width: 100% !important;
    color:white;
    &:focus{
        border-bottom: 1px solid $kazan-rgb;
        outline: none;
    }
}
