// Variables

//purple
$hackberry:#7B0051;
$hackberry-rgb:rgba(123,0,81,1);

//blue
$kazan: #007A87;
$kazan-rgb:rgba(0,122,135,1);

//teal
$babu: #00D1C1;
$babu-rgb:rgba(0,209,193,1);

//green
$lima: #8CE071;
$lima-rgb:rgba(140,224,113,1);

//golden yellow
$beach: #FFB400;
$beach-rgb:rgba(255,180,0,1);

//light red
$ebisu: #FFAA91;
$ebisu-rgb:rgba(255,170,145,1);
$ebisu-rgb-2:rgba(255,170,145,0.2);

//red
$rausch:  #FF5A5F;
$rausch-rgb:rgba(255,90,95,1);

//brown
$tirol: #B4A76C;
$tirol-rgb:rgba(180,167,108,1);

//grey
$foggy: #9CA299;
$foggy-rgb:rgba(156,162,153,1);

//dark-grey
$hof: #565A5C;
$hof-rgb:rgba(86,90,92,1);

$dark-grey: #979797;

$white: #ffffff;
$black: #000000;

$colors-list: ("hackberry":$hackberry,"kazan":$kazan,"babu":$babu,"lima":$lima,"beach":$beach,"ebisu":$ebisu,"rausch":$rausch,"tirol":$tirol,"foggy":$foggy,"hof":$hof, "white":$white, "black":$black);

//Fonts
$font-kushan: 'Kaushan Script', cursive;
$font-palace: 'AirbnbOpenPalace', monotype;
$font-circular-black: 'Circular Air Black', "Helvetica Neue" ,Helvetica, Arial, sans-serif;
$font-circular-bold: 'Circular Air Bold', "Helvetica Neue" ,Helvetica, Arial, sans-serif;
$font-circular-medium: 'Circular Air Medium', "Helvetica Neue" ,Helvetica, Arial, sans-serif;
$font-circular-book: 'Circular Air Book', "Helvetica Neue" ,Helvetica, Arial, sans-serif;
$font-circular-light: 'Circular Air Light', "Helvetica Neue" ,Helvetica, Arial, sans-serif;