// Variables

//purple
$hackberry:#7B0051;

//blue
$kazan: #007A87;
$kazan-70: desaturate(lighten($kazan, 23%), 65%);

//teal
$babu: #00D1C1;
$babu-70: desaturate(lighten($babu, 28%), 30%);

//green
$lima: #8CE071;

//golden yellow
$beach: #FFB400;
$beach-80: lighten($beach,10%);
$beach-60: lighten($beach,20%);

//light red
$ebisu: #FFAA91;

//red
$rausch:  #FF5A5F;
$rausch-80:  desaturate(lighten($rausch, 9%), 2%);

//brown
$tirol: #B4A76C;

//grey
$foggy: #9CA299;

//dark-grey
$hof: #565A5C;

//dark maroon
$nightfall: #2b001d;

$medium-grey: #979797;
$dark-grey: #484848;
$black: #1d1d1b;
$white: #ffffff;

$colors-list: ("hackberry":$hackberry,"kazan":$kazan,"babu":$babu,"lima":$lima,"beach":$beach,"ebisu":$ebisu,"rausch":$rausch,"tirol":$tirol,"foggy":$foggy,"hof":$hof, "white":$white, "black":$black);

//Fonts
$font-kushan: 'Kaushan Script', cursive;
$font-palace: 'AirbnbOpenPalace', monotype;
$font-circular-black: 'Circular Air Black', "Helvetica Neue" ,Helvetica, Arial, sans-serif;
$font-circular-bold: 'Circular Air Bold', "Helvetica Neue" ,Helvetica, Arial, sans-serif;
$font-circular-medium: 'Circular Air Medium', "Helvetica Neue" ,Helvetica, Arial, sans-serif;
$font-circular-book: 'Circular Air Book', "Helvetica Neue" ,Helvetica, Arial, sans-serif;
$font-circular-light: 'Circular Air Light', "Helvetica Neue" ,Helvetica, Arial, sans-serif;