// Variables
$white: #ffffff;
$black: #000000;

$hackberry:#7B0051;
$hackberry-rgb:rgba(123,0,81,0);

$kazan: #007A87;
$kazan-rgb:rgba(0,122,135,0);

$babu: #00D1C1;
$babu-rgb:rgba(0,209,193,0);

$lima: #8CE071;
$lima-rgb:rgba(140,224,113,0);

$beach: #FFB400;
$beach-rgb:rgba(255,180,0,0);

$ebisu: #FFAA91;
$ebisu-rgb:rgba(255,170,145,0);
$ebisu-rgb-2:rgba(255,170,145,0.2);

$tirol: #B4A76C;
$tirol-rgb:rgba(180,167,108,0);

$foggy: #9CA299;
$foggy-rgb:rgba(156,162,153,0);

$hof: #565A5C;
$hof-rgb:rgba(86,90,92,0);

$rausch:  #FF5A5F;
$rauch-rgb:rgba(255,90,95,0);

$font-kushan: 'Kaushan Script', cursive;
$font-circular: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;