---
title: Dashboard
layout: default.hbs
bodyClass: "dashboard"
---

<main class="wow animated fadeIn">

	<section>
		<div class="container">
			<div class="row flex-items-md-around">
				<div class="col-md-12">
					<h1>Airbnb Open</h1>
				</div>
			</div>
		</div>
	</section>

</main>
