---
title: Dashboard
layout: default.hbs
bodyClass: "dashboard"
---

<main class="animated fadeIn">

	<section class="dashboard-intro">
		<div class="container">
			<div class="dashboard-intro-content">
				<h1 class="font-street-markings-clean display-3 m-b-1">HELLO <br>CATHERINE</h1>
				<p class="lead m-b-3">Looks like you have space in your schedule! Pick from <br>the following event types to fill it up.</p>
				<a href="#add-events" data-scroll-to="true" class="btn btn-primary pull-xs-left m-r-1">Add Events</a>
				<a href="#view-itinerary" data-scroll-to="true" class="btn btn-outline-white pull-xs-left">View Your Itinerary</a>
			</div>
		</div>
	</section>

	<section id="add-events" class="gradient-babu-beach">
		<div class="container">
			<div class="dashboard-heading">
				<h1 class="font-street-markings-clean display-3 font-gradient">ADD <br>EVENTS</h1>
				<p class="lead">Please select from the following types of events to fill up your<br> schedule. Then we'll confirm it together for your official itinerary.</p>
			</div>

			<div id="add-accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel">
			    	<div class="panel-heading" role="tab" id="addHeadingOne">
			      	<h4 class="panel-title">
			        		<a data-toggle="collapse" href="#addCollapseOne" aria-expanded="true" aria-controls="addCollapseOne">Conversation Spaces (3 Needed)
			        		<i class="material-icons expand-more">expand_more</i>
			        	</a>
			      	</h4>
			   	</div>
			    	<div id="addCollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="addHeadingOne">
			    		{{>tabs}}
			    	</div>
			  	</div>
			  	<div class="panel">
			    	<div class="panel-heading" role="tab" id="addHeadingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" href="#addCollapseTwo" aria-expanded="false" aria-controls="addCollapseTwo">
				           	Talks (1 Needed)
				            <i class="material-icons expand-more">expand_more</i>
				        </a>
				      </h4>
			    	</div>
			   	<div id="addCollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="addHeadingTwo">
			   		{{>tabs}}
			    	</div>
			  	</div>
			  	<div class="panel">
			    	<div class="panel-heading" role="tab" id="addHeadingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" href="#addCollapseThree" aria-expanded="false" aria-controls="addCollapseThree">
				           	Open Spotlight (2 Needed)
				            <i class="material-icons expand-more">expand_more</i>
				        </a>
				      </h4>
			    	</div>
			   	<div id="addCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="addHeadingThree">
			   		{{>tabs}}
			    	</div>
			  	</div>
			</div>
		</div>
	</section>

	<section id="view-itinerary" class="gradient-beach-rausch">
		<div class="container">
			<div class="dashboard-heading">
				<h1 class="font-street-markings-clean display-3 font-gradient">YOUR <br>ITINERARY</h1>
				<p class="lead">You still have more space! Select more events to this tentative list<br> before confirming your official itinerary.</p>
			</div>

			<div id="itinerary-accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel">
			    	<div class="panel-heading" role="tab" id="headingWed">
			      	<h4 class="panel-title">
			        		<a data-toggle="collapse" href="#collapseWed" aria-expanded="true" aria-controls="collapseWed">Wednesday, November 16
			        		<i class="material-icons expand-more">expand_more</i>
			        	</a>
			      	</h4>
			   	</div>
			    	<div id="collapseWed" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingWed">
			    		{{>tabs-itinerary}}
			    	</div>
			  	</div>
			  	<div class="panel">
			    	<div class="panel-heading" role="tab" id="headingThurs">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" href="#collapseThurs" aria-expanded="false" aria-controls="collapseThurs">
				           	Thursday, November 17
				            <i class="material-icons expand-more">expand_more</i>
				        </a>
				      </h4>
			    	</div>
			   	<div id="collapseThurs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThurs">
			   		{{>tabs-itinerary}}
			    	</div>
			  	</div>
			  	<div class="panel">
			    	<div class="panel-heading" role="tab" id="headingFri">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" href="#collapseFri" aria-expanded="false" aria-controls="collapseFri">
				           	Friday, November 18
				            <i class="material-icons expand-more">expand_more</i>
				        </a>
				      </h4>
			    	</div>
			   	<div id="collapseFri" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFri">
			   		{{>tabs-itinerary}}
			    	</div>
			  	</div>
			  	<div class="panel">
			    	<div class="panel-heading" role="tab" id="headingSat">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" href="#collapseSat" aria-expanded="false" aria-controls="collapseSat">
				           	Saturday, November 19
				            <i class="material-icons expand-more">expand_more</i>
				        </a>
				      </h4>
			    	</div>
			   	<div id="collapseSat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSat">
			   		{{>tabs-itinerary}}
			    	</div>
			  	</div>
			</div>
		</div>
	</section>



</main>
