---
title: Dashboard
layout: default.hbs
bodyClass: "dashboard"
---

<main class="main">

	<section class="dashboard-intro">
		<div class="container">
			<div class="dashboard-intro-content dash-max-width">
				<h1 class="font-street-markings-clean text-uppercase m-b-1">Hello <br>Catherine</h1>
				<p class="lead m-b-3">Looks like you have space in your schedule! Choose events to complete your schedule.</p>
				<div class="clearfix dashboard-intro-cta">
					<a href="#view-schedule" data-scroll-to="true" data-scroll-offset="113" class="btn btn-primary">View Your Schedule</a>
					<a href="#choose-events" data-scroll-to="true" data-scroll-offset="113" class="btn btn-outline-white">Choose Events</a>
				</div>
			</div>
		</div>
	</section>

	<section id="view-schedule" class="gradient-beach-rausch">
		<div class="container dashboard-event-viewer">
			<div class="dashboard-heading dash-max-width">
				<h1 class="font-street-markings-clean font-gradient text-uppercase">Your <br>Schedule</h1>
				<p class="lead">You still have more space! Select more events to this tentative list before confirming your official schedule.</p>
			</div>

			<div id="schedule-accordion" role="tablist" aria-multiselectable="true">
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingWed">
						<h3 class="panel-title">
							<a data-toggle="collapse" href="#collapseWed" aria-expanded="true" aria-controls="collapseWed">Wednesday, November 16
							<i class="material-icons expand-more">expand_more</i>
						</a>
						</h4>
					</div>
					<div id="collapseWed" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingWed">
						{{>tabs-schedule}}
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingThurs">
						<h3 class="panel-title">
						  <a class="collapsed" data-toggle="collapse" href="#collapseThurs" aria-expanded="false" aria-controls="collapseThurs">
								Thursday, November 17
								<i class="material-icons expand-more">expand_more</i>
						  </a>
						</h4>
					</div>
					<div id="collapseThurs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThurs">
						{{>tabs-schedule}}
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingFri">
						<h3 class="panel-title">
						  <a class="collapsed" data-toggle="collapse" href="#collapseFri" aria-expanded="false" aria-controls="collapseFri">
								Friday, November 18
								<i class="material-icons expand-more">expand_more</i>
						  </a>
						</h4>
					</div>
					<div id="collapseFri" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFri">
						{{>tabs-schedule}}
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingSat">
						<h3 class="panel-title">
						  <a class="collapsed" data-toggle="collapse" href="#collapseSat" aria-expanded="false" aria-controls="collapseSat">
								Saturday, November 19
								<i class="material-icons expand-more">expand_more</i>
						  </a>
						</h4>
					</div>
					<div id="collapseSat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSat">
						{{>tabs-schedule}}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="choose-events" class="gradient-babu-beach">
		<div class="container dashboard-event-viewer">
			<div class="dashboard-heading dash-max-width">
				<h1 class="font-street-markings-clean font-gradient text-uppercase">Choose <br>Events</h1>
				<p class="lead">Please choose events to fill up your schedule. Then we'll confirm it together for your official schedule.</p>
				<a href="#" class="btn btn-primary btn-submit-itinerary">Submit Itinerary</a>
			</div>
		</div>

		<div class="alert alert-error alert-dismissible fade in" role="alert">
			<div class="container">
			  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			  	</button>
		  		Please correct the number of events you’ve selected before continuing.
			</div>
		</div>

		<div class="container">
			<h2 class="lined-heading m-b-3">Keynote Sessions (Choose 2)</h2>
			<div id="keynote-accordion" class="p-b-3 m-b-3" role="tablist" aria-multiselectable="true">
				{{#parseJSON '{ "id": "01", "name": "keynote","title": "Activites", "expanded": true }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "02", "name": "keynote","title": "AMEX Open Spotlight", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "03", "name": "keynote","title": "Info Station", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "04", "name": "keynote","title": "Presentations", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "05", "name": "keynote","title": "Talks", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "06", "name": "keynote","title": "The Belo Awards", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "07", "name": "keynote","title": "Workshops", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
			</div>
			<h2 class="lined-heading m-b-3">Activities (Choose 1)</h2>
			<div id="activites-accordion" role="tablist" aria-multiselectable="true">
				{{#parseJSON '{ "id": "01", "name": "activites", "title": "Activites", "expanded": true }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "02", "name": "activites", "title": "AMEX Open Spotlight", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "03", "name": "activites", "title": "Info Station", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "04", "name": "activites", "title": "Presentations", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "05", "name": "activites", "title": "Talks", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "06", "name": "activites", "title": "The Belo Awards", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
				{{#parseJSON '{ "id": "07", "name": "activites", "title": "Workshops", "expanded": false }'}}
					{{>panel}}
				{{/parseJSON}}
			</div>
		</div>
	</section>

</main>
