---
title: Event
layout: default.hbs
bodyClass: "single-event has-fixed-nav gradient-downtown-lights"
---


<main class="main">

	<section class="container event-intro">
		<div class="row">
			<div class="col-md-1">
				<a href="/dashboard.html"><i class="material-icons back-arrow">arrow_back</i></a>
			</div>
			<div class="col-md-11">
				<div class="row">
					<div class="col-md-8 col-lg-8 col-xl-6">
						<h3 class="event-category">Open Book Conversations</h3>
						<h1 class="event-title lined-heading">Influence the Future Product; Give Your Feedback Workshop</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-lg-8 col-xl-6">
						<p class="lead">Academy Award and Emmy Award-winning film and television producer Brian Grazer will chat with Brian Chesky about how travel fuels curiosity and imagination.</p>

						<p class="lead">Afterwards, famed architect Frank Gehry and advertising icon Lee Clow sit down with creative executive James Vincent to discuss creativity and career paths.</p>
					</div>
					<div class="col-md-4 col-lg-4 col-xl-6">
						<p class="event-details">Host Clubhouse @ Clifton's<br>
						9:00 AM – 10:00 AM PST<br>
						Thursday, November 17</p>

						<a href="/dashboard.html" class="btn btn-hackberry event-cta-btn">Add to Calendar</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>
