---
title: Login
layout: default.hbs
bodyClass: "login"
---

<main class="wow animated fadeIn">

	<section>
		<div class="container">


			<div class="panel-padding panel-body signup-login-form__extra-panel-body first login-modal-content-js">


				<form accept-charset="UTF-8" action="/authenticate" class="login-form " data-action="Signin" method="post">

					<div class="control-group space-1">
						<input class="decorative-input inspectletIgnore" id="signin_email" name="email" placeholder="Email Address" type="email" value="sdw3489@gmail.com">
					</div>
				  	<div class="control-group space-2">
						<input autofocus="autofocus" class="decorative-input inspectletIgnore" id="signin_password" name="password" placeholder="Password" type="password">
					</div>

					<div class="clearfix space-1">
						<label for="remember_me2" class="checkbox remember-me space-1">
						<input type="checkbox" name="remember_me" id="remember_me2" value="true" class="remember_me">
							Remember me
						</label>
						<a href="/forgot_password" class="forgot-password pull-right" data-from="email">Forgot password?</a>
					 </div>
				  <div id="airlock-inline-container"></div>
				  <button type="submit" class="btn btn-block signup-login-form__btn-xl btn-primary btn-large" id="user-login-btn">
					 Log in
				  </button>
				</form>
			</div>

		</div> <!-- /container -->
	</section>
</main>
