---
title: Sign Up
layout: login.hbs
bodyClass: "login"
---

<main class="main">

	<section class="container">

			<a href="/" class="logo-login"><img src="/img/logo-login.png" alt="Airbnb Open 2016"></a>

			<div class="row flex-items-md-center">
				<div class="col-md-11">
					<div class="login-panel">

						<h1 class="login-header font-palace">Sign Up</h1>

						<form accept-charset="UTF-8" action="/dashboard.html" class="login-form " data-action="Signin" method="post">

							<div class="form-group">
								<input autofocus="autofocus" class="decorative-input" id="signin_email" name="email" placeholder="Email Address" type="email">
							</div>
							<div class="form-group">
								<input autofocus="autofocus" class="decorative-input" id="phone" name="phone" placeholder="Phone Number" type="text">
							</div>
						  	<div class="form-group">
								<input class="decorative-input" id="password" name="password" placeholder="Password" type="password">
							</div>
							 <div class="form-group">
								<input class="decorative-input" id="confirm_password" name="confirm_password" placeholder="Confirm Password" type="password">
							</div>

							{{!--
							<div class="clearfix">
								<label for="remember_me2" class="checkbox remember-me">
							 	<input type="checkbox" name="remember_me" id="remember_me2" value="true" class="remember_me">
								Remember me
								</label>
						 	</div>
						   <div id="airlock-inline-container"></div>
							--}}
						  	<button type="submit" class="m-t-2 btn btn-secondary btn-lg" id="user-login-btn">Sign Up</button>
						</form>
					</div>
				</div>
			</div>
	</section>
</main>
