<div class="event">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur, quibusdam praesentium asperiores magni id sapiente sequi enim assumenda ducimus tempore ipsam ex eius, culpa modi qui eveniet et, quas.
</div>