

  <script src="/js/vendor/jquery/jquery.min.js"></script>
  <script src="/js/vendor/tether/tether.min.js"></script>
  <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
  <!-- Latest compiled and minified CSS -->


  <script src="/js/vendor/WOW/dist/wow.min.js"></script>
  <script src="/js/main.js"></script>

</body>
</html>