<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Airbnb Open">
  <meta name="author" content="Airbnb Open">
  <meta name="keywords" content="Airbnb Open" />
  <meta name="copyright" content="Copyright 2016 - Airbnb Open" />
  <meta name="robots" content="index, follow" />
  <meta content="Airbnb Open" property="og:site_name">
  <meta content="Airbnb Open" property="og:title">
  <meta content="http://airbnbopen.com/" property="og:url">

  {{#if homepage}}
  <title>Airbnb Open 2016</title>
  {{else}}
  <title>{{title}} - Airbnb Open 2016</title>
  {{/if}}

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico?ver=2.0"/>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?ver=2.0" />


  <!-- Custom CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body class="{{bodyClass}}" data-spy="scroll" data-target="#header-navbar" data-offset="113">
<a id="top"></a>