<header class="header">
	<div class="container container-wide">
		<nav class="navbar">
			<div class="header__navbar-header">
				<a class="navbar-brand" href="#"><img src="/img/logo.png" class="logo__image logo__image--small" alt="Airbnb Open 2016 logo"></a>
				<button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
				&#9776;
				</button>
			</div>
		 	<div class="nav-list collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
		    	<ul class="nav navbar-nav">
		      	<li class="nav-item active">
		        		<a class="nav-link" href="#add-events" data-scroll-to="true">Add Events</a>
		      	</li>
		      	<li class="nav-item">
		        		<a class="nav-link" href="#view-itinerary" data-scroll-to="true">Your Itinerary</a>
		      	</li>
		    	</ul>
		  	</div>
		   <a class="btn btn-outline-rausch btn-sm button--login" href="#">Logout</a>
		</nav>
	</div>
</header>