<!-- Nav tabs -->
<div class="nav-tabs-container">
	<ul class="nav nav-tabs" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" data-toggle="tab" href="#wed" role="tab">Wed</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#thurs" role="tab">Thurs</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#fri" role="tab">Fri</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#sat" role="tab">Sat</a>
	  </li>
	</ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  	<div class="tab-pane active" id="wed" role="tabpanel">
  		{{#parseJSON '{
				"title": "Influence the Future Product; Give Your Feedback - Workshop",
				"details": "Host Clubhouse @ Clifton\'s<br> 3:00 PM – 3:45 PM PST<br> Thursday, November 17",
				"btnClass": "kazan",
				"btnText": "Add Event"
			}'}}
				{{>event-listing}}
			{{/parseJSON}}
			{{#parseJSON '{
				"title": "Designing the New Mobile Experience wih Hosts",
				"details": "Orpheum Theatre <br>5:00 PM – 6:00 PM PST<br> Thursday, November 17",
				"btnClass": "kazan",
				"btnText": "Add Event"
			}'}}
				{{>event-listing}}
			{{/parseJSON}}
  	</div>
  	<div class="tab-pane" id="thurs" role="tabpanel">
  		{{#parseJSON '{
				"title": "Designing the New Mobile Experience wih Hosts",
				"details": "Orpheum Theatre <br>5:00 PM – 6:00 PM PST<br> Thursday, November 17",
				"btnClass": "kazan",
				"btnText": "Add Event"
			}'}}
				{{>event-listing}}
			{{/parseJSON}}
  	</div>
  	<div class="tab-pane" id="fri" role="tabpanel">
		{{#parseJSON '{
				"title": "Open Book Conversations",
				"details": "BNKR <br>11:00 AM – 6:00 PM PST<br> Friday, November 18",
				"btnClass": "kazan",
				"btnText": "Add Event"
			}'}}
				{{>event-listing}}
			{{/parseJSON}}
  	</div>
  	<div class="tab-pane" id="sat" role="tabpanel">
			{{#parseJSON '{
				"title": "Designing the New Mobile Experience wih Hosts",
				"details": "Orpheum Theatre <br>5:00 PM – 6:00 PM PST<br> Thursday, November 17",
				"btnClass": "kazan",
				"btnText": "Add Event"
			}'}}
				{{>event-listing}}
			{{/parseJSON}}
  	</div>
</div>