<div class="events-list">
	{{#parseJSON '{
		"title": "Influence the Future Product; Give Your Feedback",
		"details": "Host Clubhouse @ Clifton\'s<br> 3:00 PM – 3:45 PM PST<br> Thursday, November 17",
		"ctaButton": true,
		"btnClass": "outline-kazan",
		"btnText": "Add Event"
	}'}}
		{{>event-listing}}
	{{/parseJSON}}
	{{#parseJSON '{
		"title": "Designing the New Mobile Experience wih Hosts",
		"details": "Orpheum Theatre <br>5:00 PM – 6:00 PM PST<br> Thursday, November 17",
		"ctaButton": true,
		"btnClass": "kazan",
		"btnText": "Remove Event"
	}'}}
		{{>event-listing}}
	{{/parseJSON}}
	{{#parseJSON '{
		"title": "Open Book Conversations",
		"details": "BNKR <br>11:00 AM – 6:00 PM PST<br> Friday, November 18",
		"ctaButton": true,
		"btnClass": "outline-kazan",
		"btnText": "Add Event"
	}'}}
		{{>event-listing}}
	{{/parseJSON}}
</div>