<div class="events-list">
	<h3 class="panel-sub-heading">Presentations</h3>
	{{#parseJSON '{
		"title": "Influence the Future Product; Give Your Feedback",
		"details": "Host Clubhouse @ Clifton\'s<br> 3:00 PM – 3:45 PM PST<br> Thursday, November 17",
		"ctaButton": false
	}'}}
		{{>event-listing}}
	{{/parseJSON}}
	{{#parseJSON '{
		"title": "Designing the New Mobile Experience wih Hosts",
		"details": "Orpheum Theatre <br>5:00 PM – 6:00 PM PST<br> Thursday, November 17",
		"ctaButton": false
	}'}}
		{{>event-listing}}
	{{/parseJSON}}
	<h3 class="panel-sub-heading">Conversations</h3>

	{{#parseJSON '{
		"title": "Open Book Conversations",
		"details": "BNKR <br>11:00 AM – 6:00 PM PST<br> Friday, November 18",
		"ctaButton": false
	}'}}
		{{>event-listing}}
	{{/parseJSON}}
</div>