// Homepage

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, .input-prefix, .input-suffix {
    display: block;
    padding: 8px 10px;
    width: 100%;
}
[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, input[type="radio"], input[type="checkbox"] {
    -webkit-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
}
[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="number"], [type="tel"], textarea, select, input[type="radio"], input[type="checkbox"], .input-prefix, .input-suffix {
    border: 1px solid #aaa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
}
input, textarea, .input-prefix, .input-suffix {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
label, input, textarea, select, input[type="radio"], input[type="checkbox"], .input-prefix, .input-suffix {
    line-height: normal;
}

.decorative-input {
    background-image: url(/img/text-field-icons.png);
    background-repeat: no-repeat;
    background-position: right 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    height: 40px;
    padding: 10px 35px 10px 10px;
    width: 100% !important;
    -webkit-background-size: 40px 171px;
    -moz-background-size: 40px 171px;
    -o-background-size: 40px 171px;
    background-size: 40px 171px;
}
.decorative-input[type=email] {
    background-position: right -40px;
}
.decorative-input[type=password], .decorative-input.otp-input, .decorative-input.recaptcha_response_field {
    background-position: right -90px;
}
#signin_email {
    background-position: right -28px;
}
#signin_email, #signin_password, #signin_phone, #phone_signin_password, .xl-input-box {
    height: 64px;
    font-size: 16px;
}
#signin_password, #phone_signin_password {
    background-position: right -79px;
}

.space-1{
	margin-bottom: 6px;
}

.space-2{
	margin-bottom: 12px;
}


.btn-large {
    padding: 9px 27px;
    font-size: 16px;
}

.btn {
    border-color: #c4c4c4;
    background: white;
    color: #484848;
}
.btn-primary {
    border-color: #ff5a5f;
    background-color: #ff5a5f;
    color: #fff;
}
.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}
.btn:hover, .btn:focus {
    text-decoration: none;
    border-color: #aaa;
    color: #484848;
}
.btn-primary:hover, .btn-primary:focus {
    border-color: #ff7e82;
    background-color: #ff7e82;
    color: #fff;
}
.signup-login-form__btn-xl {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    font-weight: normal;
}
#user-login-btn {
    padding: 20px 0;
}
