// Homepage

body.login{
	background: linear-gradient(135deg, lighten($babu-rgb, 20%), lighten($beach-rgb, 20%)) top center no-repeat scroll;
    background-size: cover;
}

.login-panel{
    padding-top: 140px;
    max-width: 420px;
}

.login-header{
    font-size: 90px;
    color:white;
    margin-bottom: 50px;
}


.logo-login{
    position: absolute;
    display: inline-block;
    top: 35px;
    left: 60px;
}

