// Homepage

body.login{
	background: linear-gradient(135deg, lighten($babu-rgb, 20%), lighten($beach-rgb, 20%)) top center no-repeat scroll;
    background-size: cover;
}

.login-panel{
    max-width: 420px;
    margin-top: 50px;
    @media screen and(min-width:768px){
        margin-top: 200px;
    }
}

.login-header{
    color:white;
    @media screen and(min-width:768px){
        font-size: 90px;
    }
}


.logo-login{
    display: inline-block;
    margin-top: 30px;
}

